div{
  color:black;
}
.UNDONE {
  text-decoration: none;
  width: 200px;
}

.DONE {
  text-decoration: line-through;
  width: 200px;
}

span {
  text-align: left;
  width: 200px;
  border: 1px solid black;
  display: inline-block;
}

.x{
  
  display: inline;
}
