/* div{
  color:black;
} */
.UNDONE {
  text-decoration: none;
}

.DONE {
  text-decoration: line-through;
}

/* span {
  text-align: left;
  width: 90%;
  border: 1px solid #3399CC;
  display: inline-block;
  border-radius: 3px;
  padding: 5px;
  font-size: 20px;
}

.x{
  text-align: center;
  color: bisque;
  display: inline-block;
  width: 3%;
}
.x:hover{
  color: red;
} */
